* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Global Reset */
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  background-color: #f2f2f2;
  font: 16px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

/* End Global Reset */
h1 {
  color: #fff;
  font-family: 'Share Tech Mono', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: .1em;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 5px; }

h2 {
  color: #8fe5c3;
  font-family: 'Share Tech Mono', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: .1em;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 5px; }

h3 {
  color: #3e3c3b;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: .1em; }
  .heading h3 {
    color: #fff; }

h4 {
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 18px; }

p {
  font-family: 'Lora', Times New Roman, serif;
  font-size: 16px;
  line-height: 1.6em;
  color: #565453; }

p {
  margin: 1em 0; }

a, a:visited {
  color: #8fb1e5;
  text-decoration: none;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease; }
  .subheading a, .subheading a:visited {
    color: #a5eacf; }
  a:hover, a:visited:hover {
    color: #728db7;
    text-decoration: none; }
    .subheading a:hover, .subheading a:visited:hover {
      color: #8fe5c3; }

hr {
  height: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(220, 219, 219, 0.8);
  margin: 40px; }

header {
  *zoom: 1;
  background-color: #0e0c0a; }
  header:before, header:after {
    content: " ";
    display: table; }
  header:after {
    clear: both; }
  header a.cat svg {
    width: 50px; }
  header a.cat path {
    fill: #72b0b7; }
  header a.cat:hover path {
    fill: #8fdce5; }

.heading {
  padding: 40px 0 30px;
  background-color: #8fe5c3;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8fe5c3), color-stop(50%, #8fdce5), color-stop(100%, #8fb1e5));
  background-image: -webkit-linear-gradient(left, #8fe5c3, #8fdce5, #8fb1e5);
  background-image: linear-gradient(to right,#8fe5c3, #8fdce5, #8fb1e5); }
  .heading h3 {
    padding-bottom: 4px;
    font-size: 20px;
    text-shadow: none; }
  .heading h1 {
    padding: 10px 0 0;
    font-size: 45px; }

.subheading {
  padding: 40px 0 40px;
  margin-bottom: 20px;
  background-color: #728db7;
  color: #fff; }

section article {
  *zoom: 1;
  max-width: 77em;
  margin-left: auto;
  margin-right: auto; }
  section article:before, section article:after {
    content: " ";
    display: table; }
  section article:after {
    clear: both; }

.post {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  text-align: left;
  padding: 0 4px 40px; }
  .post:last-child {
    margin-right: 0; }
  .post p {
    margin: 20px 0;
    font-size: 18px; }
    .post p img {
      padding: 16px;
      clear: both;
      background: #fff; }

.navigation {
  position: relative;
  margin-top: -20px; }

.nav, a.nav-prev, a.nav-next {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 0px;
  width: 70px;
  height: 70px;
  background-color: rgba(224, 220, 220, 0.5);
  font-size: 20px;
  line-height: 70px; }
  .nav:hover, a.nav-prev:hover, a.nav-next:hover {
    background-color: rgba(143, 229, 195, 0.5); }

a.nav-prev {
  right: 0; }

a.nav-next {
  left: 0; }

footer {
  background: #0e0c0a;
  padding: 30px 0;
  *zoom: 1; }
  footer:before, footer:after {
    content: " ";
    display: table; }
  footer:after {
    clear: both; }

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -82px; }

.page-wrap:after {
  content: "";
  display: block; }

footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 82px; }

.tiles {
  *zoom: 1;
  max-width: 77em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px; }
  .tiles:before, .tiles:after {
    content: " ";
    display: table; }
  .tiles:after {
    clear: both; }

.tile {
  position: relative;
  float: left;
  width: 300px;
  height: 300px;
  margin: 0 15px 30px; }
  .tile .tile-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background-color: rgba(14, 12, 10, 0.8);
    z-index: 5;
    opacity: 0; }
    .tile .tile-hover:hover {
      opacity: 1; }
    .tile .tile-hover .tile-top {
      height: 150px; }
      .tile .tile-hover .tile-top a {
        padding: 50px 20px 20px;
        font-size: 40px;
        display: block; }
        .tile .tile-hover .tile-top a .eye {
          fill: #8fe5c3; }
        .tile .tile-hover .tile-top a:hover .eye {
          fill: #e2f8ef; }
    .tile .tile-hover hr {
      height: 1px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      margin: 0 40px; }
    .tile .tile-hover .tile-bottom {
      margin: 20px; }
      .tile .tile-hover .tile-bottom h2 {
        color: #fff;
        font-family: 'Share Tech Mono', sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: .1em;
        text-shadow: 1px 1px 2px black;
        margin-bottom: 5px; }
      .tile .tile-hover .tile-bottom h3 {
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: .1em; }
      .tile .tile-hover .tile-bottom p {
        font-family: 'Lora', Times New Roman, serif;
        font-size: 16px;
        line-height: 1.6em;
        color: #fff; }
  .tile:hover .tile-hover, .tile:active .tile-hover {
    opacity: 1; }
  .tile .thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; }
    .tile .thumbnail img {
      width: 300px;
      height: 300px; }

.links a {
  padding: 10px;
  font-family: 'Share Tech Mono', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .1em; }
