---
layout: default
title: some stuff
---

<div class="tiles">
    {% for post in site.posts %}
        <div class="tile">
            <div class="tile-hover">
                <div class="tile-top">
                    <a href="{{ site.baseurl}}{{ post.url }}">
                        {% include svg-eye.html %}
                    </a>
                </div>
                <hr>
                <div class="tile-bottom">
                    <h2>
                        {{ post.title }}
                    </h2>
                    <h3>
                        {{ post.creation-date | date: "%B %Y" }}
                    </h3>
                    <p>
                        {{ post.short-description }}
                    </p>
                </div>
            </div>
            <div class="thumbnail">
                <img src="{{ site.baseurl}}{{ post.thumbnail }}">
            </div>
        </div>
    {% endfor %}
</div>
