@import "bourbon/bourbon";
@import "neat/neat";
// Neat vars
$max-width: em(1200);

// Colors
$green: #8fe5c3;
$teal: #8fdce5;
$lav: #8fb1e5;


$darkopal: hsl(30,16.7%,4.7%);
$darkopal-transparency: hsla(30,16.7%,4.7%,.6);
$snow-transparency: hsla(31.2,51%,90.4%,.3);
// end of Colors

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: hsl(0, 0%, 95%);
  font: 16px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }
/* End Global Reset */


// Typography
h1 {
    color: #fff;
    font-family: 'Share Tech Mono', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: .1em;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 5px;
}
h2 {
    color: #fff;
    font-family: 'Share Tech Mono', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: .1em;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 5px;
}
h3 {
    color: #fff;
    text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.4);
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .1em;
}
h4 {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 18px;
}
p {
    font-family: 'Lora', Times New Roman, serif;
    font-size: 16px;
    line-height: 1.6em;
    color: tint($darkopal,30%);
}
p { margin: 1em 0; }

a, a:visited { 
    color: $lav;
    text-decoration: none;
    @include transition (color 0.2s ease);
    .subheading & {
        color: tint($green,20%);
    }
    &:hover { 
        color: shade($lav,20%);
        text-decoration: none;
        .subheading & {
            color: $green;
        }
    }
}
// End typography

// Layout
header {
    @include clearfix;
    background-color: $darkopal;
    .home {
        font-size: 20px;
        padding: 20px;
        display: block;
    }
}
.heading {
    padding: 40px 0 30px;
    @include linear-gradient(to right, $green, $teal, $lav );
    h3 {
        padding-bottom: 4px;
        font-size: 20px;
        text-shadow: none;
    }
    h1 {
        padding: 10px 0 0;
        font-size: 45px;
    }
}
.subheading {
    padding: 40px 0 40px;
    margin-bottom: 20px;
    background-color: shade($lav,20%);
    color: #fff;
}

section {
    article {
        @include outer-container;
    }
}
.post {
    @include span-columns(12);
    text-align: center;
    p {
        padding: 30px 0;
        margin: 0 auto;
        font-size: 18px;
        img {
            padding: 16px;
            clear: both;
            background: #fff;
        }
    }
}
footer {
    background: $darkopal;
    padding: 30px 0;
    @include clearfix;
}
// Sticky footer
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -82px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 82px; 
}
// End Layout

.tiles {
    @include outer-container;
    margin-top: 30px;
}
.tile {
    position: relative;
    float: left;
    @include span-columns(4);
    height: 300px;
    margin-bottom: 30px;
    .tile-hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        height: 300px;
        background-color: $darkopal-transparency;
        z-index: 5;
        opacity: 0;
        @include transition (opacity 1s ease);
        &:hover {
            opactiy: 1;
            @include transition (opacity .4s ease);
        }
        
        .tile-top {
            height: 150px;
            a {
                padding: 50px 20px 20px;
                font-size: 40px;
                display: block;
                color: $green;
                &:hover {
                    color: #fff;
                }
            }
        }
        hr {
            height: 1px;
            border-top: none;
            border-bottom: 1px solid $snow-transparency;
            margin: 0 40px;
        }
        .tile-bottom {
            margin: 20px;
            h2 {
                color: #fff;
                font-family: 'Share Tech Mono', sans-serif;
                text-transform: uppercase;
                font-size: 20px;
                letter-spacing: .1em;
                text-shadow: 1px 1px 2px black;
                margin-bottom: 5px;
            }
            h3 {
                color: #fff;
                text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.4);
                font-family: 'Quicksand', sans-serif;
                font-weight: 400;
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: .1em;
            }
            p {
                font-family: 'Lora', Times New Roman, serif;
                font-size: 14px;
                line-height: 1.6em;
                color: #fff;
                text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.4);
            }
        }
    }
    // Show tile-hover on mouseover
    &:hover, &:active {
        .tile-hover {
          opacity: 1;
        }
      }
    .thumbnail {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        img {
            width: 300px;
            height: 300px;
        }
    }
}

.links {
    a {
        padding: 10px;
        font-family: 'Share Tech Mono', sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: .1em;
    }
}

