@import "bourbon/bourbon";
@import "neat/neat";
// Neat vars
$max-width: em(1200);


// Colors
$flamingo: hsl(345.1,97.6%,49.4%);
$mustard: #C1953C;
$darkopal: hsl(30,16.7%,4.7%);
$snow: #F3E7DA;
$sage: #79A47E;
$seablue: #daf3e7;
$pink: #e7daf3;
$darkopal-transparency: hsla(30,16.7%,4.7%,.6);
$snow-transparency: hsla(31.2,51%,90.4%,.3);
// end of Colors

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: $snow;
  font: 16px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }
/* End Global Reset */


// Typography
h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a, a:visited { 
    color: $flamingo;
    text-decoration: none;
    @include transition (color 0.2s ease);
    &:hover { 
        color: lighten($flamingo,40%);
        text-decoration: none;
    }
}
// End typography

// Layout
header {
    @include clearfix;
    background-color: #fff;
    .home {
        font-size: 20px;
        padding: 20px;
        display: block;
    }
}
section {
    @include outer-container;
    padding: 20px 0;
    article.post {
        @include span-columns(12);
        background-color: #fff;
        padding: 10px;
        text-align: left;
        img {
            padding: 10px;
            clear: both;
        }
    }
}
footer {
    background: $darkopal;
    padding: 30px 0;
    color: $snow;
    @include clearfix;
}
// Sticky footer
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -82px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 82px; 
}
// End Layout

.tile {
    position: relative;
    float: left;
    @include span-columns(4);
    height: 300px;
    .tile-hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        height: 300px;
        background-color: $darkopal-transparency;
        z-index: 5;
        opacity: 0;
        @include transition (opacity 1s ease);
        &:hover {
            opactiy: 1;
            @include transition (opacity .4s ease);
        }
        
        .tile-top {
            height: 150px;
            a {
                padding: 50px 20px 20px;
                font-size: 40px;
                display: block;
                color: $mustard;
                &:hover {
                    color: #fff;
                }
            }
        }
        hr {
            height: 1px;
            border-top: none;
            border-bottom: 1px solid $snow-transparency;
            margin: 0 40px;
        }
        .tile-bottom {
            margin: 20px;
            //text-align: left;
            h2 {
                color: #fff;
                font-family: 'Share Tech Mono', sans-serif;
                text-transform: uppercase;
                font-size: 20px;
                letter-spacing: .1em;
                text-shadow: 1px 1px 2px black;
                margin-bottom: 5px;
            }
            h3 {
                color: #fff;
                text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.4);
                font-family: 'Quicksand', sans-serif;
                font-weight: 400;
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: .1em;
            }
            p {
                font-family: 'Lora', Times New Roman, serif;
                font-size: 14px;
                line-height: 1.6em;
                color: #fff;
                text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.4);
            }
        }
    }
    // Show tile-hover on mouseover
    &:hover, &:active {
        .tile-hover {
          opacity: 1;
        }
      }
    .thumbnail {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        img {
            width: 300px;
            height: 300px;
        }
    }
}

.links {
    a {
        padding: 10px;
        font-family: 'Share Tech Mono', sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: .1em;
    }
}

